* {
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-button {
    height: 550px;
    width: 500px;
    background-color: grey;
    margin-top: 20px;
    border: 3px solid black;
    border-radius: 10px;
    

}

.display {
    background-color: white;
    text-align: center;
    margin-bottom: 0px;
    padding-bottom: 40px;
    padding-top: 20px;
    margin-top: 100px;
    border: 8px solid greenyellow;
    border-radius: 5px;

}

.first,
.second,
.third,
.fourth,
.fifth {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
}


.ac,
.mod,
.del,
.div,
.seven,
.eight,
.nine,
.mul,
.four,
.five,
.six,
.subs,
.one,
.two,
.three,
.adds,
.zero,
.dot {
    
    height: 70px;
    flex: 1;
    
}

.equals{
    flex: 2;
    height: 70px;
    
}

.clear,
.modulo,
.delete,
.division,
.num-seven,
.num-eight,
.num-nine,
.multiply,
.num-four,
.num-five,
.num-six,
.sub, 
.num-one,
.num-two,
.num-three,
.add,
.num-zero,
.decimal,
.is-equal {
    
    height: 70px;
    width: 100%;
    border: 2px solid pink;
    border-radius: 50px;
    font-weight: 900px;
    font-size: larger;
    color: black;

}

.clear,
.modulo,
.delete,
.division,
.multiply,
.sub,
.add,
.is-equal {
    background-color: aquamarine;
}



.clear:hover,
.modulo:hover,
.delete:hover,
.division:hover,
.multiply:hover,
.sub:hover,
.add:hover,
.is-equal:hover {
    background-color: aqua;
}

.num-seven:hover,
.num-eight:hover,
.num-nine:hover,
.num-four:hover,
.num-five:hover,
.num-six:hover,
.num-one:hover,
.num-two:hover,
.num-three:hover,
.num-zero:hover,
.decimal:hover {
    background-color: aquamarine;
}


.clear:active,
.modulo:active,
.delete:active,
.division:active,
.num-seven:active,
.num-eight:active,
.num-nine:active,
.multiply:active,
.num-four:active,
.num-five:active,
.num-six:active,
.sub:active, 
.num-one:active,
.num-two:active,
.num-three:active,
.add:active,
.num-zero:active,
.decimal:active,
.is-equal:active {
    background-color: palegreen;
}